#loadingModal .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
}

#homePage{
  & body {
    background-color: #f8f9fa;
  }

  & header {
    background-color: #0d1321;
    color: white;
    height: 12vh;
    flex-wrap: wrap;
    min-height: fit-content;
    gap: 1rem;
  }

  & button, nav a{
    padding: 0.6rem 2rem;
    transform: scale(1);
    transition: all .3s ease;
  }
  
  & button:hover, nav a:hover{
    transform: scale(1.05);
    transition: all .3s ease;
  }

  & .card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }

  & .card:hover {
    transform: translateY(-4px);
  }

  & #productsCardsContainer{
    gap: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  & .carroselContainer{
    display: flex;
    justify-content: center;
    padding: 1rem 6rem;
    color: white;
  }

 & #productsListHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    & button{
      background: green;
      border: none;
    }
 }
}