#loadingModal .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
}

#homePage{
  & body {
    background-color: #f8f9fa;
  }

  & header {
    background-color: #0d1321;
    color: white;
    height: 12vh;
    flex-wrap: wrap;
    min-height: fit-content;
    gap: 1rem;
    /* position: sticky; */
    /* width: 100%; */
    /* top: 0;
    z-index: 1000; */
    /* margin-bottom: 8rem; */
    & div select{
      background: #0d1321;
      color: white;
      width: fit-content;
    }
    & div {
      display: flex;
    }
  }

  & button, nav a{
    padding: 0.6rem 2rem;
    transform: scale(1);
    transition: all .3s ease;
  }
  
  & button:hover, nav a:hover{
    transform: scale(1.05);
    transition: all .3s ease;
  }

  & .card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;

    & .card-img, .card-img-top {
      border-top-left-radius: var(--bs-card-inner-border-radius);
      border-top-right-radius: var(--bs-card-inner-border-radius);
      object-fit: cover;
      height: 250px;
    }
  }

  & .card:hover {
    transform: translateY(-4px);
  }

  & #productsCardsContainer{
    gap: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  & .carroselContainer{
    display: flex;
    justify-content: center;
    padding: 1rem 6rem;
    color: white;
  }

 & #productsListHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    & button{
      background: green;
      border: none;
    }
 }

 & #clientsHeader{
    display: flex;
    align-items: center;
    gap: 1rem;

    & button{
      min-width: fit-content;
      background-color: green;
      border: none;
      padding: 0.45rem 2rem;
    }
 }

 & #clientsContainer{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .card .card-header{
      background-color: #3e5c76;
      color: white;
    }

    & .card .card-body button{
      color: white;
      font-weight: bold;
      border: none;
    }
    & .card .card-body p{
      margin: .5rem 0;
    }

    & .EditBtnClient {
      background-color: green;
    }

    & .delBtnClient{
      background-color: #B71C1C;
    }
 }
}